:root {
    //LIGHT MODE COLORS
    --primary-blue: #0079FF;
    --primary-grey: #697C9A;
    --primary-purple: #4B6A9B;
    --primary-dark: #2B3442;
    --primary-binput: #FEFEFE;

    --secondary-dark: #222731;



    //DARK MODE COLORS
}

