body {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1440px;
    height: 900px;
    background: #f2f2f2;
    font-family: Space Mono;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Space Mono;
        margin: 144px 355px 36px 355px;

        &__logo {
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 39px;
            }
        }

        &__toggle {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--primary-grey);
            transition: 200ms ease-in-out;

            i {
                font-size: 20px;
            }

            &:hover {
                color: var(--secondary-dark);
                transition: 200ms ease-in-out;
            }

            span {
                text-transform: uppercase;
                font-style: normal;
                font-weight: bold;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 2.5px;
                margin-right: 16px;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .search {
        position: relative;
        display: flex;
        align-items: center;
        background: var(--primary-binput);
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        margin: 0px 355px 24px 355px;
        font-family: Space Mono;

        img {
            padding: 23px 24px 22px 32px;
        }

        input {
            width: 100%;
            max-width: 254px;
            height: 25px;
            border: none;
            outline: none;
            background: transparent;
            font-family: Space Mono;
            font-size: 18px;
            line-height: 25px;
            color: #222731;
        }

        span {
            position: absolute;
            right: 140px;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: #f74646;
        }

        button {
            position: absolute;
            color: white;
            background: var(--primary-blue);
            text-transform: capitalize;
            border: none;
            border-radius: 10px;
            font-family: Space Mono;
            font-weight: bold;
            font-size: 16px;
            padding: 12.5px 24px 13.5px 24px;
            cursor: pointer;
            right: 10px;
            transition: ease-in-out 200ms;

            &:hover {
                background: #60abff;
                transition: ease-in-out 200ms;
            }
        }
    }

    .result {
        background: #fefefe;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
        border-radius: 15px;
        margin: 0px 355px 24px 355px;

        &__header {
            display: flex;

            &-logo {
                width: 117px;
                height: 117px;
                margin: 48px 37px 0px 48px;
                border-radius: 50%;

                img {
                    width: 117px;
                    height: 117px;
                    border-radius: 50%;
                }
            }

            &-description {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 480px;
                padding-top: 44px;

                &-header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        font-size: 26px;
                        font-weight: bold;
                        line-height: 39px;
                        color: #2B3442;
                    }

                    span {
                        font-size: 15px;
                        color: #697c9a;
                    }
                }

                &-twitter {
                    span {
                        font-size: 16px;
                        color: #0079ff;
                        padding-top: 2px;
                    }
                }

                &-info {
                    font-size: 15px;
                    line-height: 25px;
                    color: #4b6a9b;
                    padding-top: 20px;
                }

                &-follow {
                    display: flex;
                    align-items: center;
                    background: #f6f8ff;
                    border-radius: 10px;
                    margin-top: 32px;
                    margin-bottom: 37px;

                    .repo,
                    .followers,
                    .following {
                        display: flex;
                        flex-direction: column;
                        
                    }

                    .repo {
                        padding: 15px 99px 17px 32px;
                    }
                    .followers {
                        padding-right: 82px;
                    }

                    h4 {
                        font-size: 13px;
                        color: #4b6a9b;
                        line-height: 19px;
                    }

                    span {
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 33px;
                        color: #2b3442;
                    }
                }

                &-reseaux {
                    display: flex;
                    padding-bottom: 44px;

                    .reseaux-content:nth-child(1) {
                        padding-right: 62px;
                    }

                    .reseaux-content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 280px;

                        .iconD {
                            font-size: 20px;
                            color: #4b6a9b;
                        }

                        li {
                            display: flex;
                            color: #4b6a9b;

                            .icon {
                                width: 100%;
                                max-width: 22px;
                                padding-right: 15px;
                                padding-bottom: 19px;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: #4b6a9b;
                            font-size: 15px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

//DarkMode
.dark .container,
.dark .result__header-description-follow {
    background: #141D2F;
}

.dark .nav,
.dark .nav__toggle,
.dark #pseudo,
.dark #date,
.dark #desc,
.dark .search input,
.dark .result__header-description-follow span,
.dark .result__header-description-follow h4,
.dark .result__header-description-reseaux .reseaux-content li,
.dark .result__header-description-reseaux .reseaux-content a,
.dark .result__header-description-reseaux .reseaux-content .iconD {
    color: #fff;
}

.dark .nav__toggle:hover {
    color: #90A4D4;
}

.dark .search,
.dark .result {
    box-shadow: none;
    background:#1E2A47;
}
